#alert-field-error.alert.alert--red(onclick="this.classList.remove('is-visible');")
    svg.alert__icon(width="14" height="14")
        use(xlink:href="img/sprite.svg#close")
    p Поля заповнено не корректно! Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, 
        a(href="#") ducimus
        | . 

#alert-field-success.alert(onclick="this.classList.remove('is-visible');")
    svg.alert__icon(width="18" height="18")
        use(xlink:href="img/sprite.svg#check-2")
    p Дані успішно відправлені!


#alert-promo-error.alert.alert--red(onclick="this.classList.remove('is-visible');")
    svg.alert__icon(width="14" height="14")
        use(xlink:href="img/sprite.svg#close")
    p Промокод не вірний!

#alert-promo-success.alert(onclick="this.classList.remove('is-visible');")
    svg.alert__icon(width="18" height="18")
        use(xlink:href="img/sprite.svg#check-2")
    p Промокод застосовано!
