.catalog
    .container.catalog__container
        .catalog__sidebar
            .catalog__inner
                nav.catalog-menu
                    ul.catalog-menu__list
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-1.webp" srcset="img/catalog/catalog-1@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Техніка

                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-2.webp" srcset="img/catalog/catalog-2@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Стартові набори
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-3.webp" srcset="img/catalog/catalog-3@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Таємні бокси
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-4.webp" srcset="img/catalog/catalog-4@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Гель для наращування нігтів
                            
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-5.webp" srcset="img/catalog/catalog-5@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Полігель, акрілова пудра
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-6.webp" srcset="img/catalog/catalog-6@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Гель-лаки, базові і топові покриття
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-7.webp" srcset="img/catalog/catalog-7@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Інструменти для манікюру та педикюру
                            
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-8.webp" srcset="img/catalog/catalog-8@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Витратні матеріали
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-9.webp" srcset="img/catalog/catalog-9@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Насадки для фрезерів
                                
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-10.webp" srcset="img/catalog/catalog-10@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Товари для стемпинга
                            
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-11.webp" srcset="img/catalog/catalog-11@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Слайдер-дизайн для манікюру
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-12.webp" srcset="img/catalog/catalog-12@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Декор для нігтів
                                
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-13.webp" srcset="img/catalog/catalog-13@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Пензлі для нігтів
                            
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-14.webp" srcset="img/catalog/catalog-14@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Бафики і пилочки
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-15.webp" srcset="img/catalog/catalog-15@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Рідини для манікюру

                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-16.webp" srcset="img/catalog/catalog-16@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Олія, ремувер, захист для кутикули
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-17.webp" srcset="img/catalog/catalog-17@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | MircoSTOP
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-18.webp" srcset="img/catalog/catalog-18@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Профейсійні креми для рук і ніг
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-19.webp" srcset="img/catalog/catalog-19@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Свічкі масажні
                        
                        li.catalog-menu__item
                            a.catalog-menu__link(href="#")
                                picture.catalog-menu__picture
                                    img.catalog-menu__img(src="img/catalog/catalog-20.webp" srcset="img/catalog/catalog-20@2x.webp 2x" loading="lazy" width="24" height="24" alt="alt")
                                | Розпродаж залишків
