.modal-wrap
    #modal-feedback.modal
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="20" height="20")
                        use(xlink:href="img/sprite.svg#close")

                .modal__content
                    h3.modal__title Залишити відгук

                    form.form(id="feedback-form" autocomplete="off" novalidate="novalidate")
                        .form__group
                            fieldset.stars-rating
                                input.stars-rating__input(type="radio" id="star5" name="stars-rating" value="5")
                                label.stars-rating__label(for="star5" aria-label="5 star")
                                    svg.stars-rating__icon(width="36" height="34")
                                        use(xlink:href="img/sprite.svg#star")
                                input.stars-rating__input(type="radio" id="star4" name="stars-rating" value="4")
                                label.stars-rating__label(for="star4" aria-label="4 star")
                                    svg.stars-rating__icon(width="36" height="34")
                                        use(xlink:href="img/sprite.svg#star")
                                input.stars-rating__input(type="radio" id="star3" name="stars-rating" value="3")
                                label.stars-rating__label(for="star3" aria-label="3 star")
                                    svg.stars-rating__icon(width="36" height="34")
                                        use(xlink:href="img/sprite.svg#star")
                                input.stars-rating__input(type="radio" id="star2" name="stars-rating" value="2")
                                label.stars-rating__label(for="star2" aria-label="2 star")
                                    svg.stars-rating__icon(width="36" height="34")
                                        use(xlink:href="img/sprite.svg#star")
                                input.stars-rating__input(type="radio" id="star1" name="stars-rating" value="1")
                                label.stars-rating__label(for="star1" aria-label="1 star")
                                    svg.stars-rating__icon(width="36" height="34")
                                        use(xlink:href="img/sprite.svg#star")

                        .form__group
                            input#feedbackInputName.input.form__input(type="text" name="feedbackInputName" placeholder="ПІБ *" autocomplete="off" required)

                        .form__group
                            textarea#feedbackTextarea.textarea.form__input(name="feedbackTextarea" rows="4" placeholder="Ваш відгук *" autocomplete="off" required)

                            .form__input-info Мінімальна кільність 30 символів

                        button.button.form__button Відправити

    #modal-success.modal
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="20" height="20")
                        use(xlink:href="img/sprite.svg#close")

                .modal__content.modal__content--center
                    svg.modal__icon(width="144" height="132")
                        use(xlink:href="img/sprite.svg#success")

                    h3.modal__title Ваша заявка успішно відправлена

                    .modal__text
                        p Найближчим часом Ми з Вами зв'яжемось.
                        p
                            strong Дякуємо, ви зробили правильний вибір!

                    button.button.modal__button(type="button" data-modal-close) Закрити
