footer.footer
    .container.footer__container
        .footer__col
            .footer__logo-group
                .logo.footer__logo
                    a.logo__link(href="#" aria-label="logo")
                        svg.logo__img(width="130" height="72")
                            use(xlink:href="img/sprite.svg#logo")
                    
                p.footer__slogan NewNails - це найкращий вибір українців 2024

                .footer__map
                    a.footer__map-link(href="#") Карта сайту
            
            .footer__payment-group
                .payment.footer__payment
                    h3.payment__title Спосіб оплати

                    ul.payment__list
                        li.payment__item
                            img.payment__logo(src="img/payment/liqpay.svg" loading="lazy" width="33" height="8" alt="alt")
                        
                        li.payment__item
                            img.payment__logo(src="img/payment/visa.svg" loading="lazy" width="32" height="10" alt="alt")
                        
                        li.payment__item
                            img.payment__logo(src="img/payment/mastercard.svg" loading="lazy" width="22" height="14" alt="alt")
                        
                        li.payment__item
                            img.payment__logo(src="img/payment/apple-pay.svg" loading="lazy" width="29" height="13" alt="alt")
                        
                        li.payment__item
                            img.payment__logo(src="img/payment/google-pay.svg" loading="lazy" width="30" height="12" alt="alt")
                
                .payment.footer__delivery
                    h3.payment__title Доставка

                    ul.payment__list
                        li.payment__item
                            img.payment__logo(src="img/payment/np.svg" loading="lazy" width="25" height="24" alt="alt")
                        
                        li.payment__item
                            img.payment__logo(src="img/payment/ukr-post.svg" loading="lazy" width="17" height="24" alt="alt")

        .footer__col
            nav.footer-menu
                button.footer-menu__toggle(type="button" data-trigger="footer-menu-1" aria-expanded="true") Меню
                    svg.footer-menu__toggle-icon(width="8" height="17")
                        use(xlink:href="img/sprite.svg#arrow-down")
                
                #footer-menu-1.footer-menu__inner(aria-hidden="false")
                    ul.footer-menu__list
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Акції
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Бренди

                        li.footer-menu__item
                            a.footer-menu__link(href="#") Про нас
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Доставка та оплата
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Для нейл-блогерів
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Накопичувальна знижка

                        li.footer-menu__item
                            a.footer-menu__link(href="#") Відгуки
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Контакти

        .footer__col
            nav.footer-menu
                button.footer-menu__toggle(type="button" data-trigger="footer-menu-2" aria-expanded="true") Інформація
                    svg.footer-menu__toggle-icon(width="8" height="17")
                        use(xlink:href="img/sprite.svg#arrow-down")
                
                #footer-menu-2.footer-menu__inner(aria-hidden="false")
                    ul.footer-menu__list
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Блог
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Повернення та обмін

                        li.footer-menu__item
                            a.footer-menu__link(href="#") Політика конфіденціальності
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Публічна оферта
        
        .footer__col
            nav.footer-menu
                button.footer-menu__toggle(type="button" data-trigger="footer-menu-3" aria-expanded="true") Категорії
                    svg.footer-menu__toggle-icon(width="8" height="17")
                        use(xlink:href="img/sprite.svg#arrow-down")
                
                #footer-menu-3.footer-menu__inner(aria-hidden="false")
                    ul.footer-menu__list.footer-menu__list--cols
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Техніка
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Стартові набори

                        li.footer-menu__item
                            a.footer-menu__link(href="#") Таємні бокси
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Гель для наращування нігтів
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Полігель, акрілова пудра
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Гель-лаки, базові і топові покриття

                        li.footer-menu__item
                            a.footer-menu__link(href="#") Інструменти для манікюру та педикюру
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Витратні матеріали
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Насадки для фрезерів
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Товари для стемпинга
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Слайдер-дизайн для манікюру
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Декор для нігтів
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Пензлі для нігтів
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Бафики і пилочки
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Рідини для манікюру
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Олія, ремувер, захист для кутикули
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") MircoSTOP
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Профейсійні креми для рук і ніг
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Свічкі масажні
                        
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Розпродаж залишків

        .footer__col.footer__col--white
            h3.footer__subtitle Контакти

            address.contacts.footer__contacts
                ul.contacts__list
                    li.contacts__item
                        svg.contacts__icon(width="12" height="16")
                            use(xlink:href="img/sprite.svg#location")

                        .contacts__content
                            p.contacts__text Проспект Володимира Івасюка 8 корпус 3, Київ, Україна
                    
                    li.contacts__item
                        svg.contacts__icon(width="16" height="12")
                            use(xlink:href="img/sprite.svg#email")
                        
                        .contacts__content
                            .contacts__text
                                a.contacts__link(href="mailto:info@newnails.com.ua") info@newnails.com.ua
                    
                    li.contacts__item
                        svg.contacts__icon(width="16" height="16")
                            use(xlink:href="img/sprite.svg#phone")
                        
                        .contacts__content
                            .contacts__text
                                a.contacts__link(href="tel:+380988374851") +380 (98) 837-48-51
                            
                            .contacts__text.contacts__text--flex
                                a.contacts__link(href="tel:+380662188916") +380 (66) 218-89-16

                                address.social.social--sm.contacts__social
                                    ul.social__list
                                        ul.social__list
                                            li.social__item
                                                a.social__link(href="#" aria-label="Instagram")
                                                    svg.social__icon(width="11" height="10")
                                                        use(xlink:href="img/sprite.svg#telegram")

                                            li.social__item
                                                a.social__link(href="#" aria-label="Facebook")
                                                    svg.social__icon(width="12" height="13")
                                                        use(xlink:href="img/sprite.svg#viber")

                            .contacts__text
                                a.contacts__link(href="tel:+380988374851") +380 (98) 837-48-51

                    li.contacts__item
                        svg.contacts__icon(width="16" height="16")
                            use(xlink:href="img/sprite.svg#clock")

                        .contacts__content
                            p.contacts__text ПН, ВТ, СP, ЧТ, ПТ : 9.00 - 18.00, СБ, НД : 9.00 - 17.00

            h3.footer__subtitle Соц мережі

            address.social.footer__social
                ul.social__list
                    ul.social__list
                        li.social__item
                            a.social__link(href="#" aria-label="Instagram")
                                svg.social__icon(width="20" height="20")
                                    use(xlink:href="img/sprite.svg#instagram")

                        li.social__item
                            a.social__link(href="#" aria-label="Facebook")
                                svg.social__icon(width="12" height="23")
                                    use(xlink:href="img/sprite.svg#facebook")

    .container.footer__bottom-container
        .footer__copyright &copy; Newnails 2018-2024 Всі права захищені.

        .footer__dev Розроблено
            a.footer__dev-link(href="https://shafem.com/" target="_blank")
                img.footer__dev-img(src="img/shafem.svg" width="103" height="22" loading="lazy" alt="shafem")
