header.header
    .header__top#header-top(aria-hidden="false")
        .container.header__top-container
            p.header__slogan Безкоштовна доставка від 1500 грн

            button.header__top-close(type="button" data-trigger="header-top" aria-expanded="true" aria-label="Close panel")
                svg.header__top-close-icon(width="12" height="12")
                    use(xlink:href="img/sprite.svg#close")
        
            .dropdown.header__currency
                button.dropdown__toggle(type="button" data-toggle="currency-dropdown" aria-expanded="false") Гривня
                    svg.dropdown__toggle-arrow(width="9" height="6")
                        use(xlink:href="img/sprite.svg#dropdown-arrow")
                
                ul#currency-dropdown.dropdown__list(aria-hidden="true")
                    li.dropdown__item
                        a.dropdown__link(href="#") Доллар
                    
                    li.dropdown__item
                        a.dropdown__link(href="#") Євро

            .dropdown.header__lang
                button.dropdown__toggle(type="button" data-toggle="lang-dropdown" aria-expanded="false") UA
                    svg.dropdown__toggle-arrow(width="9" height="6")
                        use(xlink:href="img/sprite.svg#dropdown-arrow")
                
                ul#lang-dropdown.dropdown__list(aria-hidden="true")
                    li.dropdown__item
                        a.dropdown__link(href="#") EN
                    
                    li.dropdown__item
                        a.dropdown__link(href="#") DE

    .header__middle
        .container.header__middle-container
            button.burger.header__burger(type="button" aria-expanded="false" data-nav-toggle aria-label="Show menu")
                .burger__line
                .burger__line
                .burger__line

            .dropdown.dropdown--clean.header__mobile-lang
                button.dropdown__toggle(type="button" data-toggle="lang-dropdown-mobile" aria-expanded="false") UA
                    svg.dropdown__toggle-arrow(width="9" height="6")
                        use(xlink:href="img/sprite.svg#dropdown-arrow")
                
                ul#lang-dropdown-mobile.dropdown__list(aria-hidden="true")
                    li.dropdown__item
                        a.dropdown__link(href="#") EN
                    
                    li.dropdown__item
                        a.dropdown__link(href="#") DE

            button.search-toggle.header__search-toggle(type="button" data-toggle="search" aria-expanded="false" aria-label="Show search")
                svg.search-toggle__icon(width="18" height="18")
                    use(xlink:href="img/sprite.svg#search")

            button.button.header__catalog-button(type="button" data-catalog-toggle)
                svg(width="22" height="22")
                    use(xlink:href="img/sprite.svg#catalog")
                span Каталог

            .phones.header__phones
                button.phones__toggle(type="button" data-toggle="phones-dropdown" aria-label="Show phones" aria-expanded="false")
                    svg.phones__toggle-icon(width="24" height="24")
                        use(xlink:href="img/sprite.svg#phone")
                    
                    span.phones__toggle-text +380 (98) 837-48-51
                    
                    svg.phones__toggle-arrow(width="15" height="9")
                        use(xlink:href="img/sprite.svg#dropdown-arrow")
                
                ul#phones-dropdown.phones__list(aria-hidden="true")
                    li.phones__item
                        a.phones__link(href="tel:+380662188916") +380 (66) 218-89-16
                    
                    li.phones__item
                        a.phones__link(href="tel:+380988374851") +380 (98) 837-48-51

            .logo.header__logo
                a.logo__link(href="#" aria-label="logo")
                    svg.logo__img(width="132" height="73")
                        use(xlink:href="img/sprite.svg#logo")
            
            .search#search.header__search
                form.search-form
                    input.input.search-form__input(type="text" name="inputSearch" placeholder="Пошук" autocomplete="off" required)

                    button.search-form__button(type="button" aria-label="Search")
                        svg.search-form__button-icon(width="21" height="21")
                            use(xlink:href="img/sprite.svg#search")

            a.header__bonus(href="#")
                svg.header__bonus-icon(width="24" height="24")
                    use(xlink:href="img/sprite.svg#nn")

                .header__bonus-text Бонусів 
                    span 128₴

            nav.actions.header__actions
                ul.actions__list
                    li.actions__item.actions__item--hidden-md
                        a.actions__button(href="#" aria-label="Wishlist")
                            svg.actions__icon(width="24" height="22")
                                use(xlink:href="img/sprite.svg#heart")
                            
                            span.actions__count 1
                    
                    li.actions__item
                        a.actions__button(href="#" aria-label="Profile")
                            svg.actions__icon(width="21" height="24")
                                use(xlink:href="img/sprite.svg#user")
                    
                    li.actions__item
                        a.actions__button(href="#" aria-label="Cart" data-modal="modal-cart")
                            svg.actions__icon(width="18" height="24")
                                use(xlink:href="img/sprite.svg#cart")
                            
                            span.actions__count 12

    .header__bottom
         .container.header__bottom-container
            button.button.header__catalog-button-mobile(type="button" data-catalog-toggle)
                svg.button__icon(width="22" height="22")
                    use(xlink:href="img/sprite.svg#catalog")
                    
                svg.button__icon(width="22" height="22")
                    use(xlink:href="img/sprite.svg#close")

                span Каталог

            nav.menu.header__menu
                ul.menu__list
                    li.menu__item
                        a.menu__link.is-active(href="#") Акції

                    li.menu__item
                        a.menu__link(href="#") Бренди
                    
                    li.menu__item
                        a.menu__link(href="#") Про нас
                    
                    li.menu__item
                        a.menu__link(href="#") Доставка та оплата
                    
                    li.menu__item
                        a.menu__link(href="#") Оптові позиції
                    
                    li.menu__item
                        a.menu__link(href="#") Накопичувальна знижка
                    
                    li.menu__item
                        a.menu__link(href="#") Відгуки
                    
                    li.menu__item
                        a.menu__link(href="#") Контакти
