.modal-wrap
    #modal-cart.modal.modal-cart
        .modal__inner
            .modal__window.modal-cart__window
                .modal-cart__header
                    h3.modal-cart__title Кошик

                    button.modal__close.modal-cart__close(aria-label="Close modal" data-modal-close type="button")
                        svg.modal__close-icon(width="20" height="20")
                            use(xlink:href="img/sprite.svg#close")

                .modal-cart__body
                    .modal-cart-item
                        .modal-cart-item__col
                            picture.modal-cart-item__picture
                                img.modal-cart-item__picture-img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="100" height="100" alt="alt")

                        .modal-cart-item__col
                            h4.modal-cart-item__title
                                a.modal-cart-item__link(href="#") Стартовий набір для манікюру Saga
                            
                            .modal-cart-item__code Код товару 
                                strong 4352635
                                
                        .modal-cart-item__col
                            .quantity.modal-cart-item__quantity
                                button.quantity__button.quantity__minus(type="button" onclick="this.parentNode.querySelector('[type=number]').stepDown();") −
                                input.quantity__input.input-numbers(type="number" name="inputQuantity" min="1" max="99" step="1" value='1')
                                button.quantity__button.quantity__plus(type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();") +

                        .modal-cart-item__col
                            .modal-cart-item__total 1600 ₴

                        .modal-cart-item__col
                            button.modal-cart-item__delete(type="button" aria-label="Delete")
                                svg.modal-cart-item__delete-icon(width="24" height="26")
                                    use(xlink:href="img/sprite.svg#delete")

                    .modal-cart-item
                        .modal-cart-item__col
                            picture.modal-cart-item__picture
                                img.modal-cart-item__picture-img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="100" height="100" alt="alt")

                        .modal-cart-item__col
                            h4.modal-cart-item__title
                                a.modal-cart-item__link(href="#") Стартовий набір для манікюру Saga
                            
                            .modal-cart-item__code Код товару 
                                strong 4352635
                                
                        .modal-cart-item__col
                            .quantity.modal-cart-item__quantity
                                button.quantity__button.quantity__minus(type="button" onclick="this.parentNode.querySelector('[type=number]').stepDown();") −
                                input.quantity__input.input-numbers(type="number" name="inputQuantity" min="1" max="99" step="1" value='1')
                                button.quantity__button.quantity__plus(type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();") +

                        .modal-cart-item__col
                            .modal-cart-item__total 1600 ₴

                        .modal-cart-item__col
                            button.modal-cart-item__delete(type="button" aria-label="Delete")
                                svg.modal-cart-item__delete-icon(width="24" height="26")
                                    use(xlink:href="img/sprite.svg#delete")

                    .modal-cart__row
                        .modal-cart__col
                            .modal-cart__info Щоб отримати 105 бонусів 
                                a.modal-cart__link(href="#") Зареєструйтеся
                            
                            a.button.button--outline.modal-cart__button(href="#") Продовжити покупки

                        .modal-cart__col
                            .modal-cart__total
                                .modal-cart__total-title Загальна вартість
                                .modal-cart__total-value 1600 ₴
                            
                            button.button.modal-cart__button(type="button") Оформити замовлення

                .modal-cart__footer
                    h4 Безкоштовна доставка при вартості замовлення від 1500 ₴.
                    p Безкоштовна доставка замовлень на суму від 1000 грн. Здійснюємо відправку післяплатою. Зверніть увагу, що при надсиланні грошей Ви оплачуєте 20 грн + 2% комісія від суми замовлення.
