.products-slider
    .swiper.products-slider__swiper
        .swiper-wrapper.products-slider__wrapper
            .swiper-slide.products-slider__slide
                article.product-card
                    a.product-card__link(href="#") 
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                        
                        .product-card__group
                            .product-card__number N16001600
                            .product-card__status Немає в наявності

                        h3.product-card__title Стартовий набір для манікюру №1

                        .product-card__feedback
                            .rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            span 12

                        .product-card__price
                            span.new-price 1600 ₴
                            span.old-price 1890 ₴

                    .product-card__buttons
                        button.button.product-card__buy-button(type="button" disabled) Купити
                        button.button.button--ruby.product-card__wish-button.is-active(type="button" aria-label="Add to wishlist")
                            svg.button__icon(width="26" height="23")
                                use(xlink:href="img/sprite.svg#heart")
            
            .swiper-slide.products-slider__slide
                article.product-card
                    a.product-card__link(href="#") 
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                        
                        .product-card__group
                            .product-card__number N16001600
                            .product-card__status HIT

                        h3.product-card__title Стартовий набір для манікюру №1

                        .product-card__feedback
                            .rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            span 12

                        .product-card__price
                            span.current-price 1600 ₴

                    .product-card__buttons
                        button.button.product-card__buy-button(type="button") Купити
                        button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                            svg.button__icon(width="26" height="23")
                                use(xlink:href="img/sprite.svg#heart")
            
            .swiper-slide.products-slider__slide
                article.product-card
                    a.product-card__link(href="#") 
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                        
                        .product-card__group
                            .product-card__number N16001600
                            .product-card__status HIT

                        h3.product-card__title Стартовий набір для манікюру №1

                        .product-card__feedback
                            .rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            span 12

                        .product-card__price
                            span.new-price 1600 ₴
                            span.old-price 1890 ₴

                    .product-card__buttons
                        button.button.product-card__buy-button(type="button") Купити
                        button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                            svg.button__icon(width="26" height="23")
                                use(xlink:href="img/sprite.svg#heart")
            
            .swiper-slide.products-slider__slide
                article.product-card
                    a.product-card__link(href="#") 
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                        
                        .product-card__group
                            .product-card__number N16001600
                            .product-card__status HIT

                        h3.product-card__title Стартовий набір для манікюру №1

                        .product-card__feedback
                            .rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            span 12

                        .product-card__price
                            span.new-price 1600 ₴
                            span.old-price 1890 ₴

                    .product-card__buttons
                        button.button.product-card__buy-button(type="button") Купити
                        button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                            svg.button__icon(width="26" height="23")
                                use(xlink:href="img/sprite.svg#heart")

            .swiper-slide.products-slider__slide
                article.product-card
                    a.product-card__link(href="#") 
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                        
                        .product-card__group
                            .product-card__number N16001600
                            .product-card__status HIT

                        h3.product-card__title Стартовий набір для манікюру №1

                        .product-card__feedback
                            .rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            span 12

                        .product-card__price
                            span.new-price 1600 ₴
                            span.old-price 1890 ₴

                    .product-card__buttons
                        button.button.product-card__buy-button(type="button") Купити
                        button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                            svg.button__icon(width="26" height="23")
                                use(xlink:href="img/sprite.svg#heart")

    button.swiper-nav-prev.products-slider__prev(type="button" aria-label="Previous slide")
        svg.swiper-nav-prev__icon(width="11" height="17")
            use(xlink:href="img/sprite.svg#arrow-left")

    button.swiper-nav-next.products-slider__next(type="button" aria-label="Next slide")
        svg.swiper-nav-next__icon(width="11" height="17")
            use(xlink:href="img/sprite.svg#arrow-right")