section.banner-section
    .banner-slider
        .swiper.banner-slider__swiper
            .swiper-wrapper
                .swiper-slide.banner-slider__slide
                    picture.banner-slider__bg
                        source(srcset="img/banner-img-mobile-1@2x.webp 2x, img/banner-img-mobile-1.webb" width="320" height="415" media="(max-width: 767.98px)")
                        img.banner-slider__bg-img(src="img/banner-img-1.webp" srcset="img/banner-img-1@2x.webp 2x" width="1918" height="600" alt="alt")

                    .container.banner-slider__container
                        h2.banner-slider__title Товари 
                            span.white-color для манікюру
                            |  від улюблених 
                            span.white-color брендів
                        
                        ul.banner-slider__list
                            li 50000 + задоволених клієнтів
                            li Доставка по Україні та закордон
                            li Відправка в день замовлення
                            li Система лояльності
                        
                        a.button.banner-slider__button(href="#") Перейти

                .swiper-slide.banner-slider__slide
                    picture.banner-slider__bg
                        source(srcset="img/banner-img-mobile-1@2x.webp 2x, img/banner-img-mobile-1.webb" width="320" height="415" media="(max-width: 767.98px)")
                        img.banner-slider__bg-img(src="img/banner-img-1.webp" srcset="img/banner-img-1@2x.webp 2x" width="1918" height="600" alt="alt")

                    .container.banner-slider__container
                        h2.banner-slider__title Товари 
                            span.white-color для манікюру
                            |  від улюблених 
                            span.white-color брендів
                        
                        ul.banner-slider__list
                            li 50000 + задоволених клієнтів
                            li Доставка по Україні та закордон
                            li Відправка в день замовлення
                            li Система лояльності
                        
                        a.button.banner-slider__button(href="#") Перейти

            .swiper-pagination.banner-slider__pagination

        button.swiper-nav-prev.banner-slider__prev(type="button" aria-label="Previous slide")
            svg.swiper-nav-prev__icon(width="11" height="17")
                use(xlink:href="img/sprite.svg#arrow-left")

        button.swiper-nav-next.banner-slider__next(type="button" aria-label="Next slide")
            svg.swiper-nav-next__icon(width="11" height="17")
                use(xlink:href="img/sprite.svg#arrow-right")
