section.brands-section
    .container.brands-section__container
        h2.section-title.brands-section__title Бренди

        .brands-slider
            .swiper.brands-slider__swiper
                .swiper-wrapper.brands-slider__wrapper
                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                    
                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                    
                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                    
                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")

                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                    
                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                    
                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                    
                    .swiper-slide.brands-slider__slide
                        picture.brands-slider__picture
                            img.brands-slider__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                                
            button.swiper-nav-prev.brands-slider__prev(type="button" aria-label="Previous slide")
                svg.swiper-nav-prev__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.swiper-nav-next.brands-slider__next(type="button" aria-label="Next slide")
                svg.swiper-nav-next__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-right")
