section.brands-section
    .container.brands-section__container
        ul.brands-section__list
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
                    
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")
            
            li.brands-section__item
                picture.brands-section__picture
                    img.brands-section__img(src="img/brands/brand-1.webp" srcset="img/brands/brand-1@2x.webp 2x" loading="lazy" width="136" height="75" alt="alt")