section.cabinet-section
    .container.cabinet-section__container
        aside.cabinet-section__sidebar
            include ./includes/_cabinet-menu.pug

        article.cabinet-section__article
            header.cabinet-section__header
                h1.cabinet-section__title NewNails бонуси
            
            .bonuses.cabinet-section__bonuses
                .bonuses__header
                    h2.bonuses__title Активні кошти
                    .bonuses__total 3 099 ₴

                .bonuses__row
                    .bonuses__col
                        .bonuses__value +148 грн
                        .bonuses__text Відкладені кошти
                    
                    .bonuses__col
                        .bonuses__text 28.05.2024
                        .bonuses__text Дата нарахування
                    
                    .bonuses__col
                        .bonuses__text
                            a.bonuses__link(href="#") 57457-UA48574595786
                        .bonuses__text № нарахування
                
                .bonuses__row
                    .bonuses__col
                        .bonuses__value +148 грн
                        .bonuses__text Відкладені кошти
                    
                    .bonuses__col
                        .bonuses__text 28.05.2024
                        .bonuses__text Дата нарахування
                    
                    .bonuses__col
                        .bonuses__text
                            a.bonuses__link(href="#") 57457-UA48574595786
                        .bonuses__text № нарахування

                .bonuses__row
                    .bonuses__col
                        .bonuses__value +148 грн
                        .bonuses__text Відкладені кошти
                    
                    .bonuses__col
                        .bonuses__text 28.05.2024
                        .bonuses__text Дата нарахування
                    
                    .bonuses__col
                        .bonuses__text
                            a.bonuses__link(href="#") 57457-UA48574595786
                        .bonuses__text № нарахування

                .bonuses__row
                    .bonuses__col
                        .bonuses__value +148 грн
                        .bonuses__text Відкладені кошти
                    
                    .bonuses__col
                        .bonuses__text 28.05.2024
                        .bonuses__text Дата нарахування
                    
                    .bonuses__col
                        .bonuses__text
                            a.bonuses__link(href="#") 57457-UA48574595786
                        .bonuses__text № нарахування
            
            .cabinet-section__info
                h3 Як працює NewNails бонуси
                p Наш інтернет-магазин займається продажем манікюрної продукції вже шість років. За цей час нашими клієнтами стали більше 70 000 клієнтів, досвідчених майстрів та початківців. 99% позитивних відгуків говорять, що наш головний пріоритет - задоволений клієнт.
                p У нас великий асортимент обладнання: лампи, фрезера, витяжки, сухожари; гель-лаки, гелі для нарощення, товари для стемпінга, витратні матеріали, пилки і бафи, інструменти, рідини. Все це ви можете купити з безкоштовною доставкою по Україні (при замовленні від 1000грн). Весь товар знаходиться на власному складі, що дозволяє відправляти замовлення кожен день (при оформленні до 15:00). Також є доставка за кордон: Польща, Німеччина, Чехія, Литва, Румунія, Молдова.
                p Якщо у Вас залишилися сумніви, звертайтеся до наших професійних менеджерів, які дадуть відповідь на будь-які питання.