section.cabinet-section
    .container.cabinet-section__container
        aside.cabinet-section__sidebar
            include ./includes/_cabinet-menu.pug

        article.cabinet-section__article
            header.cabinet-section__header
                h1.cabinet-section__title Порівняння
            
            .categories-slider.cabinet-section__categories-slider
                .swiper.categories-slider__swiper
                    .swiper-wrapper.categories-slider__wrapper
                        .swiper-slide.categories-slider__slide
                            a.category-card.is-active(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-1.webp" srcset="img/catalog/catalog-1@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Техніка

                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-2.webp" srcset="img/catalog/catalog-2@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Стартові набори
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-3.webp" srcset="img/catalog/catalog-3@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Таємні бокси
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-4.webp" srcset="img/catalog/catalog-4@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Гель для наращування нігтів
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-5.webp" srcset="img/catalog/catalog-5@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Полігель, акрілова пудра

                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-6.webp" srcset="img/catalog/catalog-6@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Гель-лаки, базові і топові покриття

                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-7.webp" srcset="img/catalog/catalog-7@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Інструменти для манікюру та педикюру
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-8.webp" srcset="img/catalog/catalog-8@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Витратні матеріали
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-9.webp" srcset="img/catalog/catalog-9@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Насадки для фрезерів
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-10.webp" srcset="img/catalog/catalog-10@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Товари для стемпинга
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-11.webp" srcset="img/catalog/catalog-11@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Слайдер-дизайн для манікюру

                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-12.webp" srcset="img/catalog/catalog-12@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Декор для нігтів
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-13.webp" srcset="img/catalog/catalog-13@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Пензлі для нігтів
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-14.webp" srcset="img/catalog/catalog-14@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Бафики і пилочки
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-15.webp" srcset="img/catalog/catalog-15@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Рідини для манікюру
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-16.webp" srcset="img/catalog/catalog-16@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Олія, ремувер, захист для кутикули

                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-17.webp" srcset="img/catalog/catalog-17@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title MircoSTOP
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-18.webp" srcset="img/catalog/catalog-18@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Профейсійні креми для рук і ніг
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-19.webp" srcset="img/catalog/catalog-19@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Свічкі масажні
                        
                        .swiper-slide.categories-slider__slide
                            a.category-card(href="#") 
                                picture.category-card__picture
                                    img.category-card__img(src="img/catalog/catalog-20.webp" srcset="img/catalog/catalog-20@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                                
                                h3.category-card__title Розпродаж залишків

                    .swiper-scrollbar.categories-slider__scrollbar
            
            .cabinet-section__actions
                h2.cabinet-section__subtitle Техніка

                .cabinet-section__filter
                    button.cabinet-section__filter-button(type="button")
                        svg(width="24" height="24")
                            use(xlink:href="img/sprite.svg#difference")
                        | Тільки відміності

                    button.cabinet-section__filter-button.cabinet-section__filter-button--ruby(type="button")
                        svg(width="24" height="24")
                            use(xlink:href="img/sprite.svg#add")
                        | Додати ще товар

            ul.cabinet-section__products
                li.cabinet-section__products-item
                    .product-controls
                        .checkbox.product-controls__checkbox
                            input.checkbox__input#productCheckbox-1(type="checkbox" name="productCheckbox-1" value="true" aria-label="Choose item" checked)
                            label.checkbox__label(for="productCheckbox-1")
                        
                        button.product-controls__delete-button(type="button" aria-label="Delete")
                            svg(width="18" height="19")
                                use(xlink:href="img/sprite.svg#delete")
                    
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                            
                            .product-card__group
                                .product-card__number N16001600
                                .product-card__status HIT

                            h3.product-card__title Стартовий набір для манікюру №1

                            .product-card__feedback
                                .rating(data-rating="4")
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                span 12

                            .product-card__price
                                span.new-price 1600 ₴
                                span.old-price 1890 ₴
                        
                        .product-card__buttons
                            button.button.product-card__buy-button(type="button") Купити
                            button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                                svg.button__icon(width="26" height="23")
                                    use(xlink:href="img/sprite.svg#heart")

                li.cabinet-section__products-item
                    .product-controls
                        .checkbox.product-controls__checkbox
                            input.checkbox__input#productCheckbox-2(type="checkbox" name="productCheckbox-2" aria-label="Choose item" value="true")
                            label.checkbox__label(for="productCheckbox-2")
                        
                        button.product-controls__delete-button(type="button" aria-label="Delete")
                            svg(width="18" height="19")
                                use(xlink:href="img/sprite.svg#delete")
                    
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                            
                            .product-card__group
                                .product-card__number N16001600

                            h3.product-card__title Стартовий набір для манікюру №1

                            .product-card__feedback
                                .rating(data-rating="4")
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                span 12

                            .product-card__price
                                span.new-price 1600 ₴
                                span.old-price 1890 ₴
                        
                        .product-card__buttons
                            button.button.product-card__buy-button(type="button") Купити
                            button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                                svg.button__icon(width="26" height="23")
                                    use(xlink:href="img/sprite.svg#heart")

                li.cabinet-section__products-item
                    .product-controls
                        .checkbox.product-controls__checkbox
                            input.checkbox__input#productCheckbox-3(type="checkbox" name="productCheckbox-3" aria-label="Choose item" value="true")
                            label.checkbox__label(for="productCheckbox-3")
                        
                        button.product-controls__delete-button(type="button" aria-label="Delete")
                            svg(width="18" height="19")
                                use(xlink:href="img/sprite.svg#delete")
                    
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                            
                            .product-card__group
                                .product-card__number N16001600
                                .product-card__status HIT

                            h3.product-card__title Стартовий набір для манікюру №1

                            .product-card__feedback
                                .rating(data-rating="4")
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                span 12

                            .product-card__price
                                span.new-price 1600 ₴
                                span.old-price 1890 ₴
                        
                        .product-card__buttons
                            button.button.product-card__buy-button(type="button") Купити
                            button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                                svg.button__icon(width="26" height="23")
                                    use(xlink:href="img/sprite.svg#heart")

                li.cabinet-section__products-item
                    .product-controls
                        .checkbox.product-controls__checkbox
                            input.checkbox__input#productCheckbox-4(type="checkbox" name="productCheckbox-4" aria-label="Choose item" value="true")
                            label.checkbox__label(for="productCheckbox-4")
                        
                        button.product-controls__delete-button(type="button" aria-label="Delete")
                            svg(width="18" height="19")
                                use(xlink:href="img/sprite.svg#delete")
                    
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="286" height="286" alt="alt")
                            
                            .product-card__group
                                .product-card__number N16001600

                            h3.product-card__title Стартовий набір для манікюру №1

                            .product-card__feedback
                                .rating(data-rating="4")
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                    .rating__item
                                span 12

                            .product-card__price
                                span.new-price 1600 ₴
                                span.old-price 1890 ₴
                        
                        .product-card__buttons
                            button.button.product-card__buy-button(type="button") Купити
                            button.button.button--ruby.product-card__wish-button(type="button" aria-label="Add to wishlist")
                                svg.button__icon(width="26" height="23")
                                    use(xlink:href="img/sprite.svg#heart")
            
            .cabinet-section__actions
                h2.cabinet-section__subtitle Характеристики

            .compare-slider.cabinet-section__compare-slider
                .swiper.compare-slider__swiper
                    .swiper-wrapper.compare-slider__wrapper
                        .swiper-slide.compare-slider__slide
                            h3.compare-slider__title Стартовий набір для манікюру №1

                            ul.compare-slider__list
                                li.compare-slider__list-item Характеристика 1
                                li.compare-slider__list-item Характеристика 2
                                li.compare-slider__list-item Характеристика 3
                                li.compare-slider__list-item Характеристика 4
                        
                        .swiper-slide.compare-slider__slide
                            h3.compare-slider__title Стартовий набір для манікюру №1

                            ul.compare-slider__list
                                li.compare-slider__list-item Характеристика 1
                                li.compare-slider__list-item Характеристика 2
                                li.compare-slider__list-item Характеристика 3
                                li.compare-slider__list-item Характеристика 4
                        
                        .swiper-slide.compare-slider__slide
                            h3.compare-slider__title Стартовий набір для манікюру №1

                            ul.compare-slider__list
                                li.compare-slider__list-item Характеристика 1
                                li.compare-slider__list-item Характеристика 2
                                li.compare-slider__list-item Характеристика 3
                                li.compare-slider__list-item Характеристика 4

                        .swiper-slide.compare-slider__slide
                            h3.compare-slider__title Стартовий набір для манікюру №1

                            ul.compare-slider__list
                                li.compare-slider__list-item Характеристика 1
                                li.compare-slider__list-item Характеристика 2
                                li.compare-slider__list-item Характеристика 3
                                li.compare-slider__list-item Характеристика 4
                                
                    .swiper-scrollbar.compare-slider__scrollbar
