section.categories-section
    .categories-slider
        .swiper.categories-slider__swiper
            .swiper-wrapper.categories-slider__wrapper
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-1.webp" srcset="img/catalog/catalog-1@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Техніка

                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-2.webp" srcset="img/catalog/catalog-2@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Стартові набори
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-3.webp" srcset="img/catalog/catalog-3@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Таємні бокси
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-4.webp" srcset="img/catalog/catalog-4@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Гель для наращування нігтів
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-5.webp" srcset="img/catalog/catalog-5@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Полігель, акрілова пудра

                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-6.webp" srcset="img/catalog/catalog-6@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Гель-лаки, базові і топові покриття

                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-7.webp" srcset="img/catalog/catalog-7@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Інструменти для манікюру та педикюру
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-8.webp" srcset="img/catalog/catalog-8@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Витратні матеріали
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-9.webp" srcset="img/catalog/catalog-9@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Насадки для фрезерів
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-10.webp" srcset="img/catalog/catalog-10@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Товари для стемпинга
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-11.webp" srcset="img/catalog/catalog-11@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Слайдер-дизайн для манікюру

                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-12.webp" srcset="img/catalog/catalog-12@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Декор для нігтів
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-13.webp" srcset="img/catalog/catalog-13@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Пензлі для нігтів
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-14.webp" srcset="img/catalog/catalog-14@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Бафики і пилочки
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-15.webp" srcset="img/catalog/catalog-15@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Рідини для манікюру
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-16.webp" srcset="img/catalog/catalog-16@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Олія, ремувер, захист для кутикули

                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-17.webp" srcset="img/catalog/catalog-17@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title MircoSTOP
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-18.webp" srcset="img/catalog/catalog-18@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Профейсійні креми для рук і ніг
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-19.webp" srcset="img/catalog/catalog-19@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Свічкі масажні
                
                .swiper-slide.categories-slider__slide
                    a.category-card(href="#") 
                        picture.category-card__picture
                            img.category-card__img(src="img/catalog/catalog-20.webp" srcset="img/catalog/catalog-20@2x.webp 2x" loading="lazy" width="150" height="150" alt="alt")
                        
                        h3.category-card__title Розпродаж залишків

            .swiper-scrollbar.categories-slider__scrollbar
