section.club-section
    .container.club-section__container
        a.club-section__link(href="#")
            .club-section__logo
                svg.club-section__logo-icon(width="76" height="76")
                    use(xlink:href="img/sprite.svg#nn")

                .club-section__logo-title New nails Club
            
            .club-section__descr Заощаджуйте 5% при кожному замовленні й знижуйте ціну наступного!
                svg.club-section__descr-icon(width="28" height="16")
                    use(xlink:href="img/sprite.svg#long-arrow-right")
