section.breadcrumbs-section
    .container.breadcrumbs-section__container
        nav.breadcrumbs.breadcrumbs-section__breadcrumbs(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Договір оферти
