section.text-section
    .container.text-section__container
        h1.section-title.text-section__title Договір оферти

        .text-section__text
            p A. Вступ
            ol
                li Конфіденційність користувачів нашого веб-сайту має велике значення для нас, і ми докладаємо всіх зусиль для забезпечення її захисту. Дані правила пояснюють, як ми використовуємо вашу персональну інформацію.
                li Погоджуючись із використанням файлів-cookie при першому відвіданні нашого веб-сайту, відповідно до положень даних Правил, ви надаєте нам дозвіл на використання файлів-cookie при кожному вашому наступному візиті.
            p Б. Права інтелектуальної власностіЦей документ був створений з використанням шаблона із сайту SEQ Legal (seqlegal.com) та модифікований веб-сайтом Website Planet (www.websiteplanet.com)
            p В. Збір персональних даних
            p Збору, зберіганню та використанню підлягають наступні типи персональних даних:
            ol
                li Інформація про ваш комп’ютер, включаючи вашу IP-адресу, географічне розташування, тип і версію браузера та операційну систему;
                li Інформація про ваші відвідування та використання цього веб-сайту, включаючи реферальні джерела, протяжність візитів, переглянуті сторінки та шляхи навігації по сайту;
                li Інформація про адресу вашої електронної пошти, яку ви використали для реєстрації на нашому веб-сайті;
                li Інформація, яку ви ввели під час створення профілю на нашому веб-сайті – наприклад, ваше ім’я, зображення у вашому профілі, стать, дата народження, сімейний статус, хобі та інтереси, освіта та місце роботи;
                li Інформація, така, як ваше ім’я та адреса електронної пошти, які ви вказали під час оформлення підписок на наші поштові повідомлення та/або розсилки;
                li Інформація, яку ви ввели під час використання сервісів нашого веб-сайту;
                li Інформація, яка генерується при використанні нашого веб-сайту, включаючи інформацію про час, частоту та умови його використання;
                li Інформація стосовно будь-яких ваших покупок, використаних сервісів або транзакцій, які ви провели через наш веб-сайт, включаючи ваше ім’я, адресу, номер телефону, адресу електронної поштової скриньки та інформацію про кредитну карту;
                li Інформація, яку ви розмістили на нашому сайті з метою публікації її в Інтернеті, включаючи ваше ім’я користувача, зображення профілю та зміст вашої публікації;
                li Інформація, що міститься в будь-яких повідомленнях, які ви надсилали нам електронною поштою або через наш веб-сайт, включаючи зміст повідомлення та мета дані;
                li Будь-яка інша персональна інформація, яку ви надіслали нам.Перед тим, як розкрити для нас персональну інформацію третьої особи, ви маєте отримати згоду цієї особи як на розкриття, так і на обробку цієї інформації у відповідності до даних правил.
            p Перед тим, як розкрити для нас персональну інформацію третьої особи, ви маєте отримати згоду цієї особи як на розкриття, так і на обробку цієї інформації у відповідності до даних правил.
            p Г. Використання вашої персональної інформації
            p Персональна інформація, яку ви передані нам через наш веб-сайт, буде використовуватися задля цілей, зазначених в цих правилах або на відповідних сторінках веб-сайту. Ми можемо використовувати вашу персональну інформацію в наступних цілях:
            ol
                li адміністрування нашого веб-сайту та бізнесу;
                li персоналізація нашого веб-сайту для вас;
                li надання вам можливості користуватися сервісами, доступними на нашому веб-сайті;
                li надсилання вам товарів, придбаних через наш-веб-сайт;
                li надання вам послуг, придбаних через наш веб-сайт;
                li надсилання вам повідомлень, рахунків та нагадувань про сплату, та отримання платежів від вас;
                li надсилання вам немаркетингових комерційних повідомлень;
                li надсилання вам електронною поштою повідомлень, які ви спеціально запросили;
                li надсилання вам електронної розсилки, якщо ви її замовили (ви в будь-який момент можете повідомити нас, що більше не бажаєте отримувати електронні розсилки від нас);
                li надсилання вам маркетингових повідомлень стосовно нашої ділової активності або ділової активності старанно відібраних сторонніх компаній, яка, на нашу думку, може вас зацікавити, шляхом публікацій або, якщо ви конкретно надали на це згоду – шляхом надсилання електронної пошти або за рахунок використання подібних технологій (ви в будь-який момент можете повідомити нас, що більше не бажаєте отримувати маркетингові повідомлення);
                li надання стороннім компаніям статистичної інформації про наших користувачів (проте, ці сторонні компанії не матимуть змоги ідентифікувати жодного окремого користувача з цих даних);
                li обробка запитів та скарг, зроблених вами або на вас, і які стосуються нашого веб-сайту;
                li з метою забезпечення безпеки нашого сайту та попередження шахрайства;
                li з метою перевірки відповідності умовам та правилам, які регламентують використання нашого веб-сайту (включаючи моніторинг приватних повідомлень, надісланих через сервіс приватних повідомлень нашого веб-сайту); та
                li в інших цілях.
            p Якщо ви надали персональну інформацію для публікації на нашому веб-сайті, ми опублікуємо її. В іншому випадку, ми використовуватимемо цю інформацію у відповідності до ліцензії, яку ви нам надали.
            p Ваші налаштування конфіденційності можуть використовуватись для обмеження публікації ваших персональних даних на нашому веб-сайті, і можуть регулюватися за допомогою засобів управління конфіденційністю на веб-сайті.
            p Без вашої чітко вираженої згоди ми не будемо передавати вашу персональну інформацію жодній сторонній компанії для прямого маркетингового використання цією, або будь-якою іншою сторонньою компанією.
            p Д. Розкриття персональної інформації
            p Ми лишаємо за собою право розкрити вашу персональну інформацію для будь-якого з наших працівників, керівників, страхувальників, професійних радників, агентів, постачальників або субпідрядників, в об’ємі та цілях, визначених в цих правилах.
            p Ми за собою право розкрити вашу персональну інформацію для будь-якого члена нашої групи компаній (сюди входять наші дочірні компанії, наша кінцева холдингова компанія та всі її дочірні компанії) в об’ємі та цілях, визначених в цих правилах.
            p Ми лишаємо за собою право розкрити вашу персональну інформацію:
            ol
                li в тих випадках, в яких цього від нас вимагає закон;
                li у зв’язку з будь-яким поточними або майбутніми судовими процесами;
                li з метою встановлення, реалізації або захисту наших законних прав (включаючи надання інформації іншим сторонам задля запобігання шахрайству або зниження кредитних ризиків);
                li покупцеві (або потенційному покупцеві) будь-якого бізнесу або активів, які ми продаємо (або збираємося продати); та
                li будь-якій особі, яка, як ми обґрунтовано вважаємо, може подати запит до суду або іншого уповноваженого органу про розкриття цих персональних даних і, на нашу обґрунтовану думку, цей суд або уповноважений орган видасть розпорядження на розкриття цих персональних даних.
