section.details-section
    .container.details-section__container
        .details.details-section__details
            .details__col
                .details__status HIT
                
                h1.details__title Стартовий набір для манікюру Saga
                
                p.details__brand Shelly Nail & Cuticle Oil

                .details__feedback
                    .rating.rating--md(data-rating="4")
                        .rating__item
                        .rating__item
                        .rating__item
                        .rating__item
                        .rating__item
                    span 12
                
                p.details__discount Знижка 10% на весь асортимент Shelly. Ціни на сайті вказані з урахуванням знижки.

            .details__col
                .gallery.details__gallery
                    .gallery-slider
                        .swiper.gallery-slider__swiper
                            .gallery-slider__status Hit

                            .swiper-wrapper
                                .swiper-slide.gallery-slider__slide
                                    a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="980" data-pswp-height="940")
                                        picture.gallery-slider__picture
                                            img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="490" height="470"  alt="alt")
                                
                                .swiper-slide.gallery-slider__slide
                                    a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="980" data-pswp-height="940")
                                        picture.gallery-slider__picture
                                            img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="490" height="470"  alt="alt")
                                
                                .swiper-slide.gallery-slider__slide
                                    a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="980" data-pswp-height="940")
                                        picture.gallery-slider__picture
                                            img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="490" height="470"  alt="alt")
                                
                                .swiper-slide.gallery-slider__slide
                                    a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="980" data-pswp-height="940")
                                        picture.gallery-slider__picture
                                            img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="490" height="470"  alt="alt")
                                
                                .swiper-slide.gallery-slider__slide
                                    a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="980" data-pswp-height="940")
                                        picture.gallery-slider__picture
                                            img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="490" height="470"  alt="alt")

                        button.swiper-nav-prev.gallery-slider__prev(type="button" aria-label="Previous slide")
                            svg.swiper-nav-prev__icon(width="11" height="17")
                                use(xlink:href="img/sprite.svg#arrow-left")

                        button.swiper-nav-next.gallery-slider__next(type="button" aria-label="Next slide")
                            svg.swiper-nav-next__icon(width="11" height="17")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .gallery-thumbs
                        .swiper.gallery-thumbs__swiper
                            .swiper-wrapper
                                .swiper-slide.gallery-thumbs__slide
                                    picture.gallery-thumbs__picture
                                        img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="100" height="100" alt="alt")

                                .swiper-slide.gallery-thumbs__slide
                                    picture.gallery-thumbs__picture
                                        img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="100" height="100" alt="alt")
                                
                                .swiper-slide.gallery-thumbs__slide
                                    picture.gallery-thumbs__picture
                                        img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="100" height="100" alt="alt")
                                
                                .swiper-slide.gallery-thumbs__slide
                                    picture.gallery-thumbs__picture
                                        img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="100" height="100" alt="alt")
                                
                                .swiper-slide.gallery-thumbs__slide
                                    picture.gallery-thumbs__picture
                                        img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="100" height="100" alt="alt")

            .details__col
                .details__group
                    .details__price
                        span.new-price 1600 ₴
                        span.old-price 1890 ₴
                    
                    .details__actions
                        button.button.button--ruby.details__actions-button(type="button" aria-label="Compare")
                            svg.button__icon(width="26" height="20")
                                use(xlink:href="img/sprite.svg#compare")

                        button.button.button--ruby.details__actions-button(type="button" aria-label="Add to wishlist")
                            svg.button__icon(width="26" height="23")
                                use(xlink:href="img/sprite.svg#heart")

                .details__group
                    .details__price
                        span.current-price 1600 ₴
                    
                    .details__actions
                        button.button.button--ruby.details__actions-button.is-active(type="button" aria-label="Compare")
                            svg.button__icon(width="26" height="20")
                                use(xlink:href="img/sprite.svg#compare")

                        button.button.button--ruby.details__actions-button.is-active(type="button" aria-label="Add to wishlist")
                            svg.button__icon(width="26" height="23")
                                use(xlink:href="img/sprite.svg#heart")

                .details__group
                    .details__available.green-color
                        svg.details__available-icon(width="19" height="15")
                            use(xlink:href="img/sprite.svg#check")

                        | Є в наявності
                    
                    .details__code Код товару 
                        strong 4352635

                .details__group
                    .details__available.red-color
                        svg.details__available-icon(width="18" height="18")
                            use(xlink:href="img/sprite.svg#cross")

                        | Немає в наявності
                    
                    .details__code Код товару 
                        strong 4352635
                
                form#buy-form.buy-form.details__buy-form
                    .buy-form__group
                        select.select.buy-form__select(name="sizeSelect" aria-label="Select")
                            option(value="3") 3m
                            option(value="4") 4m
                            option(value="5") 5m

                    .buy-form__group
                        label.buy-form__label Оберіть колір

                        fieldset.buy-form__fieldset#buy-form-colors(aria-hidden="true")
                            .buy-form__item.buy-form__item--visible
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-1" name="color-radio" value="red" checked)
                                    label.color-radio__label(for="color-radio-1")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")

                            .buy-form__item.buy-form__item--visible
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-2" name="color-radio" value="green")
                                    label.color-radio__label(for="color-radio-2")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")
                            
                            .buy-form__item.buy-form__item--visible
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-3" name="color-radio" value="green")
                                    label.color-radio__label(for="color-radio-3")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")
                            
                            .buy-form__item.buy-form__item--visible
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-4" name="color-radio" value="green")
                                    label.color-radio__label(for="color-radio-4")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")
                            
                            .buy-form__item
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-5" name="color-radio" value="green")
                                    label.color-radio__label(for="color-radio-5")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")
                            
                            .buy-form__item
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-6" name="color-radio" value="green")
                                    label.color-radio__label(for="color-radio-6")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")
                            
                            .buy-form__item
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-7" name="color-radio" value="green")
                                    label.color-radio__label(for="color-radio-7")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")
                            
                            .buy-form__item
                                .color-radio
                                    input.color-radio__input(type="radio" id="color-radio-8" name="color-radio" value="green")
                                    label.color-radio__label(for="color-radio-8")
                                        picture.color-radio__picture
                                            img.color-radio__picture-img(src="img/color-radio-img.webp" srcset="img/color-radio-img@2x.webp 2x" width="80" height="80" alt="alt")

                        button.buy-form__more-button(type="button" data-trigger="buy-form-colors" aria-expanded="false") Показати ще 38 відтінків
                    
                    button.button.buy-form__button купити
        
        ul.tabs-nav.details-section__tabs-nav
            li.tabs-nav__item
                button.tabs-nav__button(type="button" id="tab-1" aria-selected="true" aria-controls="tabpanel-1" role="tab") Опис

            li.tabs-nav__item
                button.tabs-nav__button(type="button" id="tab-2" aria-selected="false" aria-controls="tabpanel-2" role="tab") Характеристики
            
            li.tabs-nav__item
                button.tabs-nav__button(type="button" id="tab-3" aria-selected="false" aria-controls="tabpanel-3" role="tab") Відгуки

            li.tabs-nav__item
                button.tabs-nav__button(type="button" id="tab-4" aria-selected="false" aria-controls="tabpanel-4" role="tab") Доставка і оплата

        .tabs-content.details-section__tabs-content
            .tabs-panel(id="tabpanel-1" aria-hidden="false" aria-labelledby="tab-1" role="tabpanel")

                p.video-wrapper
                    <iframe allowfullscreen="allowfullscreen" frameborder="0" height="720" id="Fhm9RkRhaYkckeditorDoksoftYoutube" src="//www.youtube.com/embed/Fhm9RkRhaYk?wmode=transparent&amp;rel=0&amp;loop=0&amp;autoplay=0&amp;controls=1&amp;showinfo=1&amp;disablekb=0&amp;modestbranding=0" width="1280"></iframe>
                
                p Стартовий набір для починаючого майстра або для домашнього використання.
                p Стартовий набір включає в себе такі позиції:
                ol
                    li Лампа SUN MINI 6 вт з USB-підключенням;
                    li Ультрабонд Crooz;
                    li Ремувер для кутикули Crooz;
                    li База для нігтів Saga;
                    li Гель для нарощування та укріплення нігтів Saga;
                    li Гель-лак Saga;
                    li Топ для нігтів Saga;
                    li Рідина для зняття липкого шару Siller;
                    li Щітка від пилу з нігтів;
                    li Змінні файли з дерев'яною основою Staleks 180 грит;
                    li Баф для нігтів;
                    li Пушер силіконовий;
                    li Олійка для кутикули Crooz;
                    li Слайдер-дизайн - 3 шт;

            .tabs-panel(id="tabpanel-2" aria-hidden="true" aria-labelledby="tab-2" role="tabpanel")
                .characteristics-table
                    .characteristics-table__row
                        .characteristics-table__col Країна виробник
                        .characteristics-table__col Україна
                    
                    .characteristics-table__row
                        .characteristics-table__col Виробник
                        .characteristics-table__col Siller
                    
                    .characteristics-table__row
                        .characteristics-table__col Країна виробник
                        .characteristics-table__col Україна
                    
                    .characteristics-table__row
                        .characteristics-table__col Виробник
                        .characteristics-table__col Siller

                    .characteristics-table__row
                        .characteristics-table__col Країна виробник
                        .characteristics-table__col Україна

            .tabs-panel(id="tabpanel-3" aria-hidden="true" aria-labelledby="tab-3" role="tabpanel")
                ul.details-section__list
                    li.details-section__list-item
                        .feedback-card
                            picture.feedback-card__avatar
                                img.feedback-card__avatar-img(src="img/avatar-img.webp" srcset="img/avatar-img@2x.webp 2x" loading="lazy" width="105" height="105" alt="alt")
                            
                            .feedback-card__content
                                .feedback-card__header
                                    h3.feedback-card__name Покупець Покупець

                                    .rating.rating--md.feedback-card__rating(data-rating="4")
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                    
                                    time.feedback-card__date 17.05.2024

                                .feedback-card__text
                                    p Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую.

                                h4.feedback-card__subtitle Щітка для нігтів від пилу з довгою і зручною ручкою

                                ul.feedback-card__list
                                    li.feedback-card__list-item
                                        picture.feedback-card__picture
                                            img.feedback-card__picture-img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="50" height="50" alt="alt")
                                    
                    li.details-section__list-item
                        .feedback-card
                            picture.feedback-card__avatar
                                img.feedback-card__avatar-img(src="img/avatar-img.webp" srcset="img/avatar-img@2x.webp 2x" loading="lazy" width="105" height="105" alt="alt")
                            
                            .feedback-card__content
                                .feedback-card__header
                                    h3.feedback-card__name Покупець Покупець

                                    .rating.rating--md.feedback-card__rating(data-rating="4")
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                        .rating__item
                                    
                                    time.feedback-card__date 17.05.2024

                                .feedback-card__text
                                    p Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую.
                                    p Щітка для нігтів від пилу з довгою і зручною ручкою
                                    p Форми для нарощування нігтів, золота муха (100 штук)
                                    p Поталь для дизайну нігтів MART 02 рожеве золото

                button.button.details-section__feedback-button(type="button" data-modal="modal-feedback") Залишити відгук

            .tabs-panel(id="tabpanel-4" aria-hidden="true" aria-labelledby="tab-4" role="tabpanel")
                .delivery-payment
                    .delivery-payment__col
                        h3.delivery-payment__title Способи доставки

                        ul.delivery-payment__list
                            li.delivery-payment__item Нова Пошта
                                img.delivery-payment__logo(src="img/payment/np.svg" loading="lazy" width="30" height="30" alt="alt")
                            
                            li.delivery-payment__item Укрпошта
                                img.delivery-payment__logo(src="img/payment/ukr-post.svg" loading="lazy" width="20" height="28" alt="alt")
                            
                            li.delivery-payment__item Міжнародна доставка Новою поштою
                                img.delivery-payment__logo(src="img/payment/np.svg" loading="lazy" width="30" height="30" alt="alt")
                            
                            li.delivery-payment__item Самовивіз

                    .delivery-payment__col
                        h3.delivery-payment__title Способи оплаты

                        ul.delivery-payment__list
                            li.delivery-payment__item Visa/Mastercard
                                img.delivery-payment__logo(src="img/payment/visa.svg" loading="lazy" width="52" height="17" alt="alt")
                                img.delivery-payment__logo(src="img/payment/mastercard.svg" loading="lazy" width="48" height="29" alt="alt")
                            
                            li.delivery-payment__item Google pay
                                img.delivery-payment__logo(src="img/payment/google-pay.svg" loading="lazy" width="50" height="21" alt="alt")
                            
                            li.delivery-payment__item Apple pay
                                img.delivery-payment__logo(src="img/payment/apple-pay.svg" loading="lazy" width="53" height="23" alt="alt")
                            
                            li.delivery-payment__item LiqPay
                                img.delivery-payment__logo(src="img/payment/liqpay.svg" loading="lazy" width="97" height="23" alt="alt")
                