section.error-section
    .container.error-section__container
        picture.error-section__picture
            img.error-section__img(src="img/error-img.svg" width="183" height="207" alt="alt")

        h1.error-section__title Помилка 404

        p.error-section__text Сторінка не знайдена - перевірте будь-ласка url 

        a.button.error-section__button(href="#") Повернутись на Головну
