section.feedback-section
    .container.feedback-section__container
        button.button.feedback-section__add-button(type="button" data-modal="modal-feedback") Залишити відгук

        ul.feedback-section__list
            li.feedback-section__item
                .feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-img.webp" srcset="img/avatar-img@2x.webp 2x" loading="lazy" width="105" height="105" alt="alt")
                    
                    .feedback-card__content
                        .feedback-card__header
                            h3.feedback-card__name Покупець Покупець

                            .rating.rating--md.feedback-card__rating(data-rating="5")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            
                            time.feedback-card__date 17.05.2024

                        .feedback-card__text
                            p Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую.

                        h4.feedback-card__subtitle Щітка для нігтів від пилу з довгою і зручною ручкою

                        ul.feedback-card__list
                            li.feedback-card__list-item
                                picture.feedback-card__picture
                                    img.feedback-card__picture-img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="50" height="50" alt="alt")
                            
            li.feedback-section__item
                .feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-img.webp" srcset="img/avatar-img@2x.webp 2x" loading="lazy" width="105" height="105" alt="alt")
                    
                    .feedback-card__content
                        .feedback-card__header
                            h3.feedback-card__name Покупець Покупець

                            .rating.rating--md.feedback-card__rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            
                            time.feedback-card__date 17.05.2024

                        .feedback-card__text
                            p Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую.
                            p Щітка для нігтів від пилу з довгою і зручною ручкою
                            p Форми для нарощування нігтів, золота муха (100 штук)
                            p Поталь для дизайну нігтів MART 02 рожеве золото

            li.feedback-section__item
                .feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-img.webp" srcset="img/avatar-img@2x.webp 2x" loading="lazy" width="105" height="105" alt="alt")
                    
                    .feedback-card__content
                        .feedback-card__header
                            h3.feedback-card__name Покупець Покупець

                            .rating.rating--md.feedback-card__rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            
                            time.feedback-card__date 17.05.2024

                        .feedback-card__text
                            p Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую.

                        h4.feedback-card__subtitle Щітка для нігтів від пилу з довгою і зручною ручкою

                        ul.feedback-card__list
                            li.feedback-card__list-item
                                picture.feedback-card__picture
                                    img.feedback-card__picture-img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="50" height="50" alt="alt")
                            
            li.feedback-section__item
                .feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-img.webp" srcset="img/avatar-img@2x.webp 2x" loading="lazy" width="105" height="105" alt="alt")
                    
                    .feedback-card__content
                        .feedback-card__header
                            h3.feedback-card__name Покупець Покупець

                            .rating.rating--md.feedback-card__rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                            
                            time.feedback-card__date 17.05.2024

                        .feedback-card__text
                            p Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую. Все отримала,що замовляла. гарна якість. буду тепер замовляти тільки у вас!! дякую.
                            p Щітка для нігтів від пилу з довгою і зручною ручкою
                            p Форми для нарощування нігтів, золота муха (100 штук)
                            p Поталь для дизайну нігтів MART 02 рожеве золото

        nav.pagination.feedback-section__pagination(aria-label="Page navigation")
            ul.pagination__list
                li.pagination__item
                    button.pagination__button(type="button" aria-label="Previous page")
                        svg.pagination__icon(width="7" height="12")
                            use(xlink:href="img/sprite.svg#arrow-left")

                li.pagination__item.is-active(aria-current="page")
                    button.pagination__button(type="button") 1
                
                li.pagination__item
                    button.pagination__button(type="button") 2
                
                li.pagination__item
                    span ...
                
                li.pagination__item
                    button.pagination__button(type="button") 10

                li.pagination__item
                    button.pagination__button(type="button" aria-label="Next page")
                        svg.pagination__icon(width="7" height="12")
                            use(xlink:href="img/sprite.svg#arrow-right")