section.login-section
    picture.login-section__bg
        source(srcset="img/login-bg-mobile@2x.webp 2x, img/login-bg-mobile.webb" width="320" height="644" media="(max-width: 767.98px)")
        img.login-section__bg-img(src="img/login-bg.webp" srcset="img/login-bg@2x.webp 2x" width="1920" height="854" alt="alt")

    .container.login-section__container
        .login
            h1.login__title Авторизація

            form.form.login__form(id="login-form" autocomplete="off" novalidate="novalidate")
                .form__group
                    input#loginInputEmail.input.form__input(type="email" name="loginInputEmail" placeholder="Пошта *" autocomplete="off" required)

                .form__group
                    .form__input-group
                        input#loginInputPassword.input.form__input(type="password" name="loginInputPassword" placeholder="Пароль *" autocomplete="off" required)
                        
                        button.form__show-pass(type="button")
                            svg.form__show-pass-icon(width="26" height="18")
                                use(xlink:href="img/sprite.svg#eye")

                .form__info
                    a.form__info-link(href="#") Забули пароль?

                button.button.form__button.form__button--full Увійти

            .login__or
                span Або увійдіть за допомогою

            .login__social
                button.button.button--outline.login__social-button(type="button")
                    svg.button__icon(width="24" height="24")
                        use(xlink:href="img/sprite.svg#google")
                    | Google

            .login__info Ще немає аккаунту? 
                a.login__info-link(href="#") Зареєструватися
