section.map-section
    .container.map-section__container
        h2.section-title.map-section__title Як нас знайти
        p.map-section__text Проспект Володимира Івасюка 8 корпус 3, Київ, Україна

        iframe(class="map-section__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2537.942733241225!2d30.516047376759065!3d50.49802357160129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d1f8644047a5%3A0x1290eb963054cece!2sVolodymyra%20Ivasiuka%20Ave%2C%208%2C%20Kyiv%2C%20Ukraine%2C%2002000!5e0!3m2!1sen!2ses!4v1718125184512!5m2!1sen!2ses" width="100%" height="410" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
