section.mother-section
    picture.mother-section__bg
        source(srcset="img/mother-img-mobile@2x.webp 2x, img/mother-img-mobile.webb" width="320" height="367" media="(max-width: 767.98px)")
        img.mother-section__bg-img(src="img/mother-img.webp" srcset="img/mother-img@2x.webp 2x" width="1259" height="644" alt="alt")

    .container.mother-section__container
        .mother-section__content
            h2.mother-section__title Черпайте ідеї для подарунків на День матері
            p.mother-section__text Знайдіть ідеальний подарунок для своєї мами
            a.button.mother-section__button(href="#") Перейти
