section.payment-section
    .container.payment-section__container
        h2.section-title.payment-section__title Способи оплати

        ul.payment-list.payment-section__payment-list
            li.payment-list__item
                .payment-list__pic
                    img.payment-list__pic-logo(src="img/payment/visa.svg" loading="lazy" width="105" height="33" alt="alt")

                p.payment-list__text Visa
            
            li.payment-list__item
                .payment-list__pic
                    img.payment-list__pic-logo(src="img/payment/mastercard.svg" loading="lazy" width="96" height="58" alt="alt")

                p.payment-list__text Mastercard
            
            li.payment-list__item
                .payment-list__pic
                    img.payment-list__pic-logo(src="img/payment/google-pay.svg" loading="lazy" width="107" height="44" alt="alt")

                p.payment-list__text Google pay
            
            li.payment-list__item
                .payment-list__pic
                    img.payment-list__pic-logo(src="img/payment/apple-pay.svg" loading="lazy" width="107" height="45" alt="alt")

                p.payment-list__text Apple pay
            
            li.payment-list__item
                .payment-list__pic
                    img.payment-list__pic-logo(src="img/payment/liqpay.svg" loading="lazy" width="166" height="38" alt="alt")

                p.payment-list__text LiqPay
            
            li.payment-list__item.payment-list__item--5
                h3.payment-list__title Оплата на картку

            li.payment-list__item.payment-list__item--5
                h3.payment-list__title Післяплата
                p.payment-list__text.payment-list__text--bold Мінімальна сума післяплати 200 грн

        .guarantee.payment-section__guarantee
            img.guarantee__icon(src="img/guarantee.svg" loading="lazy" width="182" height="182" alt="alt")
            
            .guarantee__content
                h3.guarantee__title Гарантія:
                p.guarantee__text Відповідно до Закону України «Про захист прав споживачів» споживач має право протягом 14 календарних днів повернути або замінити товар належної якості на аналогічний, якщо товар не підійшов за формою, габаритами, фасоном, кольором або не може бути використаний за призначенням, якщо збережено його товарний вид, споживчі властивості, пломби, заводське упакування, а також документ, що підтверджує факт купівлі зазначеного Товару (Товарний чек).

            .guarantee__bg-text Увага!