section.products-section.products-section--pb
    .container.products-section__container
        h2.section-title.products-section__title Нові надходження

        include ./includes/_product-slider.pug
        