section.products-section.products-section--pt
    .container.products-section__container
        h2.section-title.products-section__title Переглянуті товари

        include ./includes/_product-slider.pug
