section.products-section.products-section--grey
    .container.products-section__container
        h2.section-title.products-section__title Вас може зацікавити

        include ./includes/_product-slider.pug
        