section.promo-section.promo-section--grey
    .container.promo-section__container
        .promo-section__col
            .promo-card.promo-card--white
                .promo-card__content
                    h3.promo-card__title Доставка та оплата
                    p.promo-card__text Ми доставляємо товари за допомогою перевізників “Нова Пошта” та “Укр.пошта” від 1000 грн
                    a.button.promo-card__button(href="#") Перейти

                picture.promo-card__picture
                    source(srcset="img/promo-img-mobile-3@2x.webp 2x, img/promo-img-mobile-3.webb" width="320" height="170" media="(max-width: 767.98px)")
                    img.promo-card__img(src="img/promo-img-3.webp" srcset="img/promo-img-3@2x.webp 2x" width="336" height="418" alt="alt")
            
        .promo-section__col
            .promo-card.promo-card--white
                .promo-card__content
                    h3.promo-card__title Мінімальна сума замовлення 200 грн
                    p.promo-card__text Ви можете оплатити замовлення на картку, післяплата, також приймаємо онлайн-оплату карткою Visa, Mastercard - LiqPay
                    a.button.promo-card__button(href="#") Перейти

                picture.promo-card__picture
                    source(srcset="img/promo-img-mobile-3@2x.webp 2x, img/promo-img-mobile-3.webb" width="320" height="170" media="(max-width: 767.98px)")
                    img.promo-card__img(src="img/promo-img-3.webp" srcset="img/promo-img-3@2x.webp 2x" width="336" height="418" alt="alt")
            