section.promo-section
    .container.promo-section__container
        .promo-section__col
            .promo-card
                .promo-card__content
                    h3.promo-card__title ГЕЛЬ SILLER SHINE LINER GEL у подарунок
                    p.promo-card__text за умови придбання Таємного бокса за 800 грн
                    a.button.promo-card__button(href="#") Отримати подарунок

                picture.promo-card__picture
                    source(srcset="img/promo-img-mobile-1@2x.webp 2x, img/promo-img-mobile-1.webb" width="320" height="170" media="(max-width: 767.98px)")
                    img.promo-card__img(src="img/promo-img-1.webp" srcset="img/promo-img-1@2x.webp 2x" width="336" height="418" alt="alt")
            
            p.promo-section__info До закінчення акції залишилось 
                time.promo-section__info-time.countdown(data-enddate="2024-06-28T23:59:59")
                    span.days 00
                    | 
                    span.days-label днів
                    | 
                    span.time 00:00:00
        
        .promo-section__col
            .promo-card
                .promo-card__content
                    h3.promo-card__title Пластина велика Max Print RcR-06 безкоштовно
                    p.promo-card__text за умови придбання продуктів бренду NewNails від 500 грн
                    a.button.promo-card__button(href="#") Отримати подарунок

                picture.promo-card__picture
                    source(srcset="img/promo-img-mobile-2@2x.webp 2x, img/promo-img-mobile-2.webb" width="320" height="170" media="(max-width: 767.98px)")
                    img.promo-card__img(src="img/promo-img-2.webp" srcset="img/promo-img-2@2x.webp 2x" width="336" height="418" alt="alt")
            
            p.promo-section__info До закінчення акції залишилось 
                time.promo-section__info-time.countdown(data-enddate="2024-06-31T23:59:59")
                    span.days 00
                    | 
                    span.days-label днів
                    | 
                    span.time 00:00:00
