section.header-section
    picture.header-section__bg
        source(srcset="img/header-bg-mobile@2x.webp 2x, img/header-bg-mobile.webb" width="320" height="131" media="(max-width: 767.98px)")
        img.header-section__bg-img(src="img/header-bg.webp" srcset="img/header-bg@2x.webp 2x" width="1920" height="120" alt="alt")

    .container.header-section__container
        nav.breadcrumbs.header-section__breadcrumbs(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item(aria-current="page") Повернення та обмін

        h1.header-section__title Повернення та обмін
