section.returns-section
    .container.returns-section__container
        .returns-section__text
            p Компанія здійснює повернення і обмін товарів належної якості згідно Закону 
                a(href="#") "Про захист прав споживачів"
                | .
            h3 Строки повернення і обміну
            p Повернення та обмін товарів можливий протягом 14 днів після отримання товару покупцем.
            p Зворотня доставка товарів здійснюється за домовленістю.

        .returns-section__info
            h3.returns-section__info-title Умови повернення для товарів належної якості
            
            .returns-section__info-text
                p Просимо наших покупців перевіряти комплектність та цілісність замовлення, а також працездатність товарів безпосередньо при їх отриманні. У разі обміну та повернення товару належної якості покупець оплачує витрати на доставку товару. При поверненні товару неналежної якості, витрати на повернення бере на себе наш інтернет-магазин. Підтвердженням гарантійних зобов'язань є наявність товарного чека або накладної з відміткою дати здійснення покупки. Діє гарантія на лампи для манікюру, фрезери, витяжки та на іншу техніку. Гарантія розповсюджується на заводські дефекти або шлюб і не діє на лампочки, світлодіоди, інші витратні матеріали, оскільки їх термін служби залежить від режиму експлуатації.
                p Відповідно закону "Про захист прав споживачів», компанія може відмовити споживачеві в обміні та поверненні товарів належної якості, якщо вони відносяться до категорій, зазначених у чинному Переліку непродовольчих товарів належної якості, що не підлягають поверненню та обміну.
                