section.seo-section
    .container.seo-section__container
        h1.section-title.seo-section__title Інтернет-магазин манікюрної продукції NewNails

        .seo-section__inner
            .seo-section__text
                p Наш інтернет-магазин займається продажем манікюрної продукції вже шість років. За цей час нашими клієнтами стали більше 70 000 клієнтів, досвідчених майстрів та початківців. 99% позитивних відгуків говорять, що наш головний пріоритет - задоволений клієнт.
                p У нас великий асортимент обладнання: лампи, фрезера, витяжки, сухожари; гель-лаки, гелі для нарощення, товари для стемпінга, витратні матеріали, пилки і бафи, інструменти, рідини. Все це ви можете купити з безкоштовною доставкою по Україні (при замовленні від 1000грн). Весь товар знаходиться на власному складі, що дозволяє відправляти замовлення кожен день (при оформленні до 15:00). Також є доставка за кордон: Польща, Німеччина, Чехія, Литва, Румунія, Молдова.
                p Якщо у Вас залишилися сумніви, звертайтеся до наших професійних менеджерів, які дадуть відповідь на будь-які питання.
                p Наш інтернет-магазин займається продажем манікюрної продукції вже шість років. За цей час нашими клієнтами стали більше 70 000 клієнтів, досвідчених майстрів та початківців. 99% позитивних відгуків говорять, що наш головний пріоритет - задоволений клієнт.
                p У нас великий асортимент обладнання: лампи, фрезера, витяжки, сухожари; гель-лаки, гелі для нарощення, товари для стемпінга, витратні матеріали, пилки і бафи, інструменти, рідини. Все це ви можете купити з безкоштовною доставкою по Україні (при замовленні від 1000грн). Весь товар знаходиться на власному складі, що дозволяє відправляти замовлення кожен день (при оформленні до 15:00). Також є доставка за кордон: Польща, Німеччина, Чехія, Литва, Румунія, Молдова.
                p Якщо у Вас залишилися сумніви, звертайтеся до наших професійних менеджерів, які дадуть відповідь на будь-які питання.
                p Наш інтернет-магазин займається продажем манікюрної продукції вже шість років. За цей час нашими клієнтами стали більше 70 000 клієнтів, досвідчених майстрів та початківців. 99% позитивних відгуків говорять, що наш головний пріоритет - задоволений клієнт.
                p У нас великий асортимент обладнання: лампи, фрезера, витяжки, сухожари; гель-лаки, гелі для нарощення, товари для стемпінга, витратні матеріали, пилки і бафи, інструменти, рідини. Все це ви можете купити з безкоштовною доставкою по Україні (при замовленні від 1000грн). Весь товар знаходиться на власному складі, що дозволяє відправляти замовлення кожен день (при оформленні до 15:00). Також є доставка за кордон: Польща, Німеччина, Чехія, Литва, Румунія, Молдова.
                p Якщо у Вас залишилися сумніви, звертайтеся до наших професійних менеджерів, які дадуть відповідь на будь-які питання.
            
            button.seo-section__more-button(type="button" data-trigger="seo-text") Читати детальніше
