section.subscribe-section
    .container.subscribe-section__container
        .subscribe-section__col
            .subscribe-section__content
                h2.subscribe-section__title
                    span.ruby-bg -5%**
                    |  на перше замовлення за підписку на розсилку
                
                h3.subscribe-section__subtitle Підписуйтесь на розсилку та отримуйте знижку на покупки

                p.subscribe-section__text **Знижка є одноразовою, діє лише на новинки (товари з "чорними" цінниками) при мінімальному кошику від 1000 грн. Промокод не поєднується з іншими акціями, а деякі товари можуть бути виключені з його дії. Деталі за посиланням: виключення з акції.

        .subscribe-section__col
            form.form(id="subscribe-form" autocomplete="off" novalidate="novalidate")
                .form__group
                    input#subscribeInputEmail.input.form__input(type="email" name="subscribeInputEmail" placeholder="Ведіть адресу e-mail" autocomplete="off" required)

                button.button.form__button Підписатися
