section.success-section
    .container.success-section__container

        .success-section__content
            h1.success-section__title Ми прийняли Ваше замовлення 
                span.ruby-color №4235

            h2.success-section__subtitle Дякуємо за вибір 
                span.ruby-color NewNails.com.ua
                | !
            
            .success-section__text
                p У разі будь-яких питань або зауважень Ти завжди можеш зв'язатися з нашим Центром обслуговування клієнтів за номером телефону: 
                p Viber / Telegram 
                    a(href="tel:+380988374851") +380 (98) 837-48-51

            h3.success-section__subtitle Слідкуй за нашими новинами в соц.мережах

            address.social.success-section__social
                ul.social__list
                    ul.social__list
                        li.social__item
                            a.social__link(href="#" aria-label="Instagram")
                                svg.social__icon(width="20" height="20")
                                    use(xlink:href="img/sprite.svg#instagram")

                        li.social__item
                            a.social__link(href="#" aria-label="Facebook")
                                svg.social__icon(width="12" height="23")
                                    use(xlink:href="img/sprite.svg#facebook")

            h3.success-section__subtitle З повагою, 
                br
                | Команда NewNails.com.ua

            a.button.success-section__button(href="#") На головну 

    picture.success-section__bg
        img.success-section__bg-img(src="img/success-bg.webp" srcset="img/success-bg@2x.webp 2x" width="860" height="732" alt="alt")
